#validerboutton
{
    background-color: green;
}
qs
#resetbouttondqsd
    display: flex;dqsd
    justify-content: space-evenly;
}

#fournisseurinfoqddq
{qsdqsdqsqsdq
    flex-wrap: wrap;qsolumn;
}
qsd
#formulaireinforsqdqsdmations
{qsz
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#headerdedsq
    display: flex;qsd
    flex-dsszqzdsd

.checkboxcolonne
{sdqd
    display:flex;
    flex-direction: column;
    align-items: left;
}
