#validerboutton
{
    background-color: green;
}

#resetboutton
{
    background-color: red;
}

#infos
{
    display: flex;
    justify-content: space-evenly;
}

#fournisseurinfos
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#formulaireinformations
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#headerdepage
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.checkboxcolonne
{
    display:flex;
    flex-direction: column;
    align-items: left;
}
